{% extends "Base.html" %}

{% block title %}Blog Registration{% endblock title %}
{% block content %}

<section class="contact-section" id="contact">
    <h2 class="section-title">Upload Blog</h2>
    <div class="section-content" style="margin-left: 30%">     
          <form action="#" class="contact-form" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %} -->
            <input type="text" name="blogname" placeholder="Enter your Blog Name" class="form-input" required />
            <textarea placeholder="Your Description" name="description" class="form-input" required></textarea>
            <input type="file" name="file" class="form-input mt-1" required />

            <!-- {% comment %} <input type="text" name="username" placeholder="Username" class="form-input" required />
            <div class="password-field">
              <input type="password" name="password" placeholder="Password" class="form-input" required />
              <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div> {% endcomment %} -->
            
            <button type="submit" class="button submit-button">Upload</button>
          </form>
     
      </div>
  </section>


{% endblock content %}