<footer class="footer-section">
    <div class="section-content">
      <p class="copyright-text">© 2024 Coffee Shop</p>

      <div class="social-link-list">
        <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
      </div>

      <p class="policy-text">
        <a href="#" class="policy-link">Privacy policy</a>
        <span class="separator">•</span>
        <a href="#" class="policy-link">Refund policy</a>
      </p>
    </div>
  </footer>