{% extends "Base.html" %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block title %}verify page{% endblock title %}

{% block content %}

<section class="contact-section" id="contact">
    <h2 class="section-title">Forgot password {{obj.username}} </h2>
    <div class="section-content" style="margin-left: 30%">
        <form action="#" class="contact-form" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}


            {% comment %} <input type="text" name="username" placeholder="Password" class="form-input" required /> {% endcomment %}
            <input type="email" name="email" placeholder="Enter your email" class="form-input" required />
            {% comment %} <div class="password-field">
              <input type="password" name="password" placeholder="Confirm Password" class="form-input" required />
              <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>  {% endcomment %}
             <a href="">
                <button type="submit" class="button submit-button">Send OTP on email</button>
            </a>

            <!-- Button trigger modal -->
            
            
            <!-- Modal -->



            {% comment %} <button type="button" style="font-size: 15px;" class="button submit-button" data-toggle="modal" data-target="#exampleModalemail">
                OTP on email
            </button> {% endcomment %}
            

            <!-- modal -->
            


           




            
           
            <!-- <a href="">
                <button type="submit" class="button submit-button">Send Email</button>
            </a>
            <a href="">
                <button type="submit" class="button submit-button">Auth</button>
            </a> -->
        </form>

    </div>
</section>





{% endblock content %}