{% extends "Base.html" %}

{% block title %} Reset password {% endblock title %}

{% block content %}

<section class="contact-section" id="contact">
    <h2 class="section-title">Reset password</h2>
    
    <div class="section-content" style="margin-left: 30%">    
        

          <form action="" class="contact-form" method="POST">
            {% csrf_token %}
            {% if messages %}
      <div class="alert alert-primary" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}

            <input type="password" name="pass1" placeholder="Enter your password" class="form-input" />
            <input type="password" name="pass2" placeholder="Confirm password" class="form-input" />
            <!-- <textarea placeholder="Your message" class="form-input" required></textarea> -->
            <button type="submit" class="button submit-button">Submit</button>
          </form>
     
      </div>
  </section>
{% endblock content %}

